/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.widthWorkHistory {
  width: 44%;
  background: 3C2A0C;
}
.marginWorkHistory {
  padding: 10%;
  margin-top: 7%;
}
html {
  background-color: #221609;
}
body {
  background-color: beige;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  body {
    width: 500px;
  }
}
.navContainer {
  display: flex;
  justify-content: space-evenly;
}
.navContainer a {
  text-decoration: none;
  color: black;
}
.upperContainer {
  width: 60vw;
  margin: 0 auto;
  background-color: #4A2908;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.upperContainer img {
  border-radius: 33%;
  margin: 5% 0% 2% 2%;
}
.upperContainer .nameTag {
  font-size: 3.1rem;
}
@media (max-width: 500px) {
  .upperContainer .nameTag {
    width: 500px;
  }
}
.upperContainer button {
  width: 12rem;
  height: 2rem;
  margin-top: 5%;
  background-color: #715936;
  border: none;
}
.upperContainer .item {
  padding: 1%;
}
@media (max-width: 500px) {
  .upperContainer {
    width: 500px;
    height: 90vh vh;
    display: flex;
    flex-direction: column;
  }
}
.middleContainer {
  width: 60vw;
  background-color: #593A1A;
  display: flex;
  justify-content: space-between;
}
.middleContainer .item {
  min-width: 50%;
  max-width: 50%;
  padding: 1%;
}
.middleContainer .item .itemOfItem {
  padding: 1%;
}
.middleContainer p {
  word-wrap: break-word;
}
.middleContainer h4 {
  font-size: 1.55rem;
}
.middleContainer .listOfThings {
  padding: 1%;
}
.middleContainer .listOfThings li {
  padding: 1%;
}
@media (max-width: 500px) {
  .middleContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
  }
}
.lowerContainer {
  width: 60vw;
}
.lowerContainer .workHistoryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.lowerContainer .workHistoryContainer .historyItem {
  width: 44%;
  background: 3C2A0C;
}
@media (max-width: 500px) {
  .lowerContainer .workHistoryContainer .historyItem {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }
}
.lowerContainer .workHistoryContainer .historyItem p {
  word-wrap: break-word;
}
