//Navigation Bar
.navigationBar{
    display: flex;
    justify-content: flex-end;
    .navContainer {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        
        nav {
            width: 100%;
            color: purple;
            display: flex;
            justify-content: space-evenly;

            a {
                text-decoration: none;
            }
        }
    }
}

.profileBox {
    background-color: grey;
    padding: 2%;
        img {
            width: 40%;
            height: 40%;
            padding: 2%;
            border-radius: 100%;
        }
        .item {
            padding: 2%;
        }
}